{% extends "base.html" %}

{% block title %}{{ data.name }}{% endblock %}
{% block menu %} {% include 'menu/main_menu.html' %}{% endblock %}
{% block content %}
<form method = 'POST' action="/contacts/">
    <br>Почта<br>
    <input type = 'text' name='email' value = '{{data.email}}'>
    <br>Сообщение<br>
    <textarea rows="10" cols="45" name = 'message'>{{data.message}}</textarea>
    <br>Гражданство<br>
    <input type = 'radio' name = 'Гражданство' value="РФ" {{data.rf_on}}> РФ
    <input type = 'radio' name = 'Гражданство' value="НЕ РФ" {{data.ne_rf_on}}> НЕ РФ
    <input type = 'submit' >
</form>
{% endblock %}